body {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    font-family: Sans-Serif;
}

.correct {
    color: green;
}

.wrong {
    color: red;
}

.answer-div {
    width: 600px;
}

.answer-btn {
    padding: 4px;
    width: 145px;
    background-color: white;
}

.next-btn {
    padding: 4px;
    width: 100px;
    margin-left: 15px;
    background-color: lightgreen;
}
