<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Vocab with Angular</title>
    <link href="/Styles/Site.css" rel="stylesheet" />
    <style>
        .ng-cloak {
            display: none !important;
        }
    </style>
</head>
<body ng-app="app" ng-controller="QuizCtrl as q">
    <a href="/">Home</a>
    <h1>Angular Example</h1>
    <div class="ng-cloak">
        <p ng-bind="q.curItem.def"></p>
        <div class="answer-div">
            <span ng-repeat="choice in q.choices">
                <button ng-bind="choice" ng-click="$parent.q.clickWord(choice)" class="answer-btn"></button>
            </span>
        </div>
        <div ng-include="'vocab-feedback.html'"></div>
    </div>

    <script src="/Scripts/jquery-2.1.4.js"></script>
    <script src="/Scripts/angular.js"></script>
    <script src="/Scripts/angular-animate.js"></script>
    <script src="/Scripts/angular-route.js"></script>
    <script src="/App/vocabulary/Util.js"></script>
    <script src="/App/vocabulary/VocItem.js"></script>
    <script src="./QuizCtrl.js"></script>
    <script src="./app.js"></script>
</body>
</html>
